{% extends 'base.html.twig' %}

{% block title %}Create account - {{ parent() }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Create your account</h1>
            <hr>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <hr>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
