<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">MTG Editions</a>
        <span class="navbar-text">
            <i class="fas fa-user"></i>
            {% if app.user %}
                Logged in as {{ app.user.firstname }} {{ app.user.lastname }} - <a href="{{ path('app_logout') }}">Log out</a>
            {% else %}
                <a href="{{ path('app_login') }}">Log in</a> or <a href="{{ path('app_register') }}">Create an account</a>
            {% endif %}
        </span>
    </div>

</nav>